@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');

html {
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
}

.key-container {
  width: 6rem;
  height: 6rem;
  border: .2rem solid cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 4rem;
  font-weight: 700;
  float: left;
}

.key-word {

}

.wrong-letter-container {
  width: 6rem;
  height: 6rem;
  border: .2rem solid magenta;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 4rem;
  font-weight: 700;
  float: left;
  overflow: hidden;
}

.wrong-guesses {
  margin: auto;
  clear: both;
}

.display-none {
  display: none;
}
